*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ff5864;
    font-family: sans-serif;
    color: #fff;
}

.location{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span{
    margin: 5px;
    font-size: 20px;
}

.degree-section h2{
    font-size: 40px;
}

.icon {
margin: 5px;
  }
